@import url(./vendor/fonts.css);

body {
  margin: 0;
}

.page {
  margin: 0 auto 0;
  max-width: 1200px;
  background-color: rgba(192, 219, 217, 1);
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1170px;
  margin: 0 auto 0;
}

.header {
  max-width: 1170px;
  margin: 0 auto 0;
  background-color: rgba(127, 175, 246, 1);
  height: 100px;
  display: flex;
  justify-content: start;
}

.header_button {
  margin: 30px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 8px 15px;
  background-color: rgba(165, 199, 249, 1);
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.block1 {
  margin: 15px auto 0;
  background-color: rgba(179, 249, 90, 1);
  display: grid;
  gap: 15px;
  grid-template-areas: 
    "block1_element_1 block1_element_2 block1_element_3"
    "block1_element_4 block1_element_4 block1_element_5";
  grid-template-columns: 33.3% 50% 14.15%;
  counter-reset: div 0;
}

.block1_element {
  background-color: rgba(138, 209, 145, 1);
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block1_element::before {
  counter-increment: div;
  content: counter(div) "";
  color: #ffffff;
  font-size: 53px;
  line-height: 62px;
}

.block1_element_1 {
  grid-area: block1_element_1;
}

.block1_element_2 {
  grid-area: block1_element_2;
}

.block1_element_3 {
  grid-area: block1_element_3;
}

.block1_element_4 {
  grid-area: block1_element_4;
}

.block1_element_5 {
  grid-area: block1_element_5;
}

.block2 {
  padding: 30px;
  max-width: 1170px;
  margin: 15px auto 0;
  display: flex;
  background-color: rgba(136, 181, 191, 1);
}

.block2_element {
  background-color: rgba(13, 137, 176, 1);
  width: 255px;
  height: 199px;
  margin-right: 30px;
}

.block2_element:last-child {
  margin-right: 0;
}

.footer {
  max-width: 1170px;
  margin: 100px auto 0;
  background-color: rgba(127, 175, 246, 1);
  height: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  position: relative;
}

.popup__header {
  margin-top: 0;
  text-align: center;
  margin-top: 170px;
  font-size: 53px;
  line-height: 62px;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  width: 43px;
  height: 39px;
  background-color: rgba(127, 175, 246, 1);
  border-radius: 5px;
}
